h1, h2 {
  color: #DDDDDD;
  text-align: start;
  margin-top: 42px;
  margin-bottom: 42px;
  width: 575px;
}

h1 {
  font-size: 48px;
  line-height: 1.2em;
  letter-spacing: normal;
  font-weight: 400;
  font-family: poppins-extralight, poppins, sans-serif;
  color: #DDDDDD;
}

h2 {
  font-size: 32px;
  line-height: 1.2em;
  letter-spacing: normal;
  font-weight: 300;
  font-family: poppins-extralight, poppins, sans-serif;
  color: #DDDDDD;
}

body {
  margin-bottom: 0;
  background-color: #292d3d;
  
  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}

p {
  font-weight: 300;
}

.headers {
  margin: 75px;
}

.wrapper {
  margin: 75px;
}

.hero {
  margin-bottom: 200px;
}

.button {
  text-align-last: left;
  margin-top: 60px;
}

.toggle-btn:hover {
  background-color: rgba(31, 182, 223, 0.1);
}

.animatedBackground {
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    width: 400px;
  }
  h2 {
    font-size: 24px;
    width: 350px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 28px;
    width: 300px;
  }
  h2 {
    font-size: 18px;
    width: 250px;
  }
}


@media (max-width: 768px) {
  .headers {
    margin: 50px;
  }
  .wrapper {
    margin: 50px;
  }
  .hero {
    padding-bottom: 100px;
  }
  .button {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .headers {
    margin: 30px;
  }
  .wrapper {
    margin: 30px;
  }
  .hero {
    margin-bottom: 50px;
  }
  .button {
    margin-top: 20px;
  }
}
